/* Post-specific styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dropcap {
    float: left;
    font-size: 9rem;
    line-height: 6rem;
    padding: 0 1rem 0 0;
    font-family: $title;
}
.blog h4 {
    margin-bottom: 0;
}
.archives {
    margin-top: 6rem;
}
.archives li {
    list-style: none;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $accentGray;
}
.post-date {
    font-family: $title;
    color: $white;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}
pre > code {
    padding: 0;
}
code {
    border-width: 0px;
    padding: 0;
}
.post-image {
    display: block;
    margin-bottom: 3rem;

    &.half {
        max-width: 50%;
    }
    &.full {
        max-width: 100%;
    }
    &.right {
        float: right;
        margin: 0 0 1rem 1rem;
    }
    &.left {
        float: left;
        margin: 0 1rem 1rem 0;
    }
}
.post-image-picture {
    height: auto;
    display: block;
    max-width: 100%;
}
.post-image-caption {
    color: $textGray;
    font-style: italic;
}

.post-content-two-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @media (min-width: 750px) {
        flex-direction: row;
    }

    > * {
        display: block;
        width: 100%;
        @media (min-width: 750px) {
            width: 49%;
        }
    }
}

.post-content-three-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @media (min-width: 750px) {
        flex-direction: row;
    }

    > * {
        display: block;
        width: 100%;
        @media (min-width: 750px) {
            width: 33%;
        }
    }
}