/* Post-specific styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dropcap {
    float: left;
    font-size: 9rem;
    line-height: 6rem;
    padding: 0 1rem 0 0;
    font-family: $title;
}
.blog h4 {
    margin-bottom: 0;
}
.blog .vertical-image {
    max-width: 50%;
    float: right;
    margin: 0 0 2rem 2rem;
}
.blog .horizontal-image {
    max-width: 100%;
}
.archives {
    margin-top: 6rem;
}
.archives li {
    list-style: none;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $accentGray;
}
.post-date {
    font-family: $title;
    color: $white;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}
.image-note {
    text-align: left;
    font-style: italic;
    display: inline-block;
}
pre > code {
    padding: 0;
}
code {
    border-width: 0px;
    padding: 0;
}
.post-image {

    &.half {
        max-width: 50%;
    }
    &.full {
        max-width: 100%;
    }
    &.right {
        float: right;
    }
    &.left {
        float: left;
    }
}
.post-image-picture {
    height: auto;
    display: block;
    max-width: 100%;
}