/* Galleries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.home-about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
    @media (min-width: 1000px) {
        flex-direction: row;
        margin-bottom: 0;
    }
    .about-left {
        width: 100%;
        @media (min-width: 1000px) {
            width: 70%
        }
    }
    .about-right {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        @media (min-width: 1000px) {
            width: 25%
        }
    }
    .portrait {
        display: block;
        border-radius: 50%;
        max-width: 20rem;
        width: 100%;
        height: auto;

        @media (min-width: 1000px) {
            margin-top: -4rem;
        }
    }
}

.post-card-gallery {
    margin-bottom: 5rem;
}
.featured-posts-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.featured-post-card {
    display: block;
    margin-bottom: 3rem;
    width: 100%;
    max-width: 1024px;
    min-width: 20rem;
    a {
        display: block;
        width: 100%;
    }
    @media(min-width: 1024px) {
        width: 49%;
        max-width: 60rem;
        min-width: 40rem;
    }

}
.featured-post-card-image {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: 0 0;
    max-width: 80.5rem;
    
    @media(min-width: 1024px) {
        max-width: 100%;
    }
}
.featured-post-card-title {
    background-color: $accentGray;
    padding: 1rem;
    margin-top: -0.6rem; //mystery 6px gap
}

.writing-entries-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.writing-entries-wrapper .writing-entry {
    width: 48%;
    max-width: 60rem;
    min-width: 20rem;

    h2, h2 a {
        font-family: $title;
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }
    span {
        font-style: italic;
        margin-bottom: 1rem;
        display: block;
    }
}