/* Galleries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.post-card-gallery {
    margin-bottom: $flow-bottom-big;
}
.featured-posts-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.featured-post-card {
    display: block;
    margin-bottom: $flow-bottom;
    max-width: 1024px;
    min-width: 20rem;
    width: 100%;
    a {
        display: block;
        width: 100%;
    }
    @media(min-width: 1024px) {
        max-width: 60rem;
        min-width: 40rem;
        width: 49%;
    }

}
.featured-post-card-image {
    height: 30rem;
    max-width: 80.5rem;
    object-fit: cover;
    object-position: 0 0;
    width: 100%;
    
    @media(min-width: 1024px) {
        max-width: 100%;
    }
}
.featured-post-card-title {
    background-color: $accentGray;
    margin-top: -0.6rem; //mystery 6px gap
    padding: 1rem;
}

.writing-entries-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.writing-entries-wrapper .writing-entry {
    max-width: 60rem;
    min-width: 20rem;
    width: 48%;

    h2, h2 a {
        font-family: $title;
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }
    span {
        display: block;
        font-style: italic;
        margin-bottom: 1rem;
    }
}