/* These styles are overrides to the base skeleton template */

body {
    background-color: $darkGray;
    color: $textGray;
    font-family: $body;
    font-size: 1.6rem;
    line-height: 1.5;
    position: relative;
}
.container {
    margin-top: 9rem;
    max-width: 1200px;
    @media(min-width: 1000px) {
        margin-top: 3rem;
    }
}
blockquote {
    border-left: 2px solid $accentGray;
    margin: 0 0 3rem 0;
    padding-left: 2rem;
    @media(min-width: 1000px) {
        margin: 0 4rem 3rem 4rem;
    }
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
    color: $white;
    font-family: $title;
    letter-spacing: normal;
    margin-bottom: $flow-bottom;
}
p {
    font-family: $body;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.02rem;
    line-height: 2.1rem;
    margin-bottom: $flow-bottom;
    text-align: justify;
}
b, strong {
    font-weight: 700;
}
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: $yellow;
  font-family: $body;
  text-decoration: none;

  &:hover {
    color: $blue;
    transition: all 0.5s linear;
  }
}
/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo {
    display: none;
    @media(min-width: 1000px) {
        display: block;
    }
    img {
        margin: 1rem;
        max-width: 25rem;
        width: 25%;
        @media(min-width: 1000px) {
            margin: 3rem;
        }
    }
}
.header-animation {
    display: none;
    margin-bottom: $flow-bottom-big;
    @media(min-width: 1000px) {
        display: block;
    }
    .typing {
        background: $black;
        border-radius: 5px;
        border: 1px solid $accentGray;
        color: #ffff99;
        font-family: $monospace;
        font-size: 2rem;
        padding: 5px 10px;
        text-align: center;
        transition: all 2s linear;
        width: 75%;
        @media(min-width: 1000px) {
            width: 50%;
        }
        &.fadeToWhite {
            background: $darkGray;
            border-color: $darkGray;
            color: $white;
        }
    }

}
/* Navigation & Mobile Header/Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.desktop-nav {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    @media(min-width: 1000px) {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        margin-bottom: $flow-bottom-big;
        .blog & {
            margin-bottom: $flow-bottom;
        }
    }
    a {
        font-family: $body;
        font-size: 2rem;
        margin: 0 0 1rem 0;
        text-decoration: none;
        text-transform: uppercase;
        @media(min-width: 1000px) {
            margin: 0;
        }
    }
}

.mobile-header {
    background-color: $darkGray;
    border-bottom: 1px solid $accentGray;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 6rem;
    justify-content: space-between;
    left: 0;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    @media(min-width: 1000px) {
        display: none;
    }
    img {
        display: block;
        height: 4rem;
    }
}
.mobile-header .menu-button {
    .menu-input {
        position: absolute;
        visibility: hidden;
    }
    .menu-icon {
        align-items: center;
        border-radius: 0.5rem;
        border: 1px solid $accentGray;
        display: flex;
        height: 4rem;
        justify-content: center;
        margin: 0;
        width: 4rem;
        .icon-menu {
            font-size: 3.5rem;
            margin-top: -4px;
        }
    }
}
.mobile-menu-open {
    background-color: $darkGray;
    display: flex;
    flex-direction: column;
    height: 0px;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 6rem;
    width: 100%;
    a {
        border-bottom: 1px solid $accentGray;
        box-sizing: border-box;
        display: block;
        font-size: 2.5rem;
        margin: 0;
        padding: 1rem 0;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }
}

.menu-input:checked ~ .mobile-menu-open {
    height: 100%;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.new-footer {
    align-items: center;
    border-top: 1px solid $accentGray;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
    width: 100%;
    @media(min-width: 1000px) {
        flex-direction: row;
    }
    .foot-left, .foot-center, .foot-right {
        margin-bottom: 2rem;
    }
    .foot-left {
        .email {
            display: table;
        }
        .icon-envelope, .icon-envelope2 {
            display: table-cell;
            font-size: 3rem;
            vertical-align: middle;
            width: 3.5rem;
        }
        .email-address {
            display: table-cell;
            font-size: 1.3rem;
            font-weight: 300;
            letter-spacing: 0.02rem;
            vertical-align: middle;
        }
    }
    .foot-center {
        text-align: center;
    }
    .foot-right {
        display: flex;
        flex-direction: row;
        a {
            display: block;
            margin: 0 1rem;
        }
    }
}
/* Home Page Intro
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.home-about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: $flow-bottom;
    @media (min-width: 1000px) {
        flex-direction: row;
        margin-bottom: 0;
    }
    .about-left {
        width: 100%;
        @media (min-width: 1000px) {
            width: 70%
        }
    }
    .about-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        @media (min-width: 1000px) {
            width: 25%
        }
    }
    .portrait {
        border-radius: 50%;
        display: block;
        height: auto;
        max-width: 20rem;
        width: 100%;

        @media (min-width: 1000px) {
            margin-top: -4rem;
        }
    }
}