/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.outline {
    border-color: $accentGray;
    border-style: solid;
    border-width: 0.1rem;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.no-underline {
    text-decoration: none;
}
.shadows {
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 1);
}
.active {
    color: $linkActive;
}
.clear {
    clear: both;
}
.bottom-border {
    border-bottom: solid;
    border-color: $accentGray;
    border-width: 1px;
}
.error {
    h1,p {
        z-index: 2;
        position: relative;
    }
    .background {
        color: #0f0f0f;
        font-family: $body;
        font-size: 50rem;
        display: flex;
        justify-content: center;
        margin-top: -30rem;
        z-index: 1;
        position: relative;
        pointer-events: none;
    }
}
