/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */



.outline {
    border-width: 0.1rem;
    border-style: solid;
    border-color: $accentGray;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.no-underline {
    text-decoration: none;
}
.shadows {
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 1);
}
.active {
    color: $blue;
}
.clear {
    clear: both;
}
.bottom-border {
    border-bottom: solid;
    border-width: 1px;
    border-color: $accentGray;
}