---
layout: post
title: Adventure.js 
date: June 2019
---

<div class="post-content-two-items">
    <div>
        <p>
            <span class="dropcap">I</span> fell in love with text adventure games in college, despite never having played any as a kid. <a href="https://ganelson.github.io/inform-website/" target="_blank">Inform7</a> was my first foray into writing them. I even <a href="https://www.nexusmods.com/oblivion/mods/30951" target="_blank">co-created a mod</a> for TES IV: Oblivion recreating the original Zork.
            
        </p>
        <p>As a developer I've tinkered with several iterations of the genre. The two pictured here are <a href="https://github.com/andymaul123/adventure.js/tree/jointDev" target="_blank">Adventure.js</a> and its successor, <a href="https://github.com/andymaul123/retroAdventure" target="_blank">RetroAdventure</a>.</p>

        <p>The former was a small, complete-ish attempt that is played in your browser. The latter is a work-in-progress system for playing text adventure games in your terminal. I ran into technical hurdles and shelved it, but would like to pick it back up at some point!</p>
    </div>
    <%- include('partials/post-image', {imgpath: "/image/projects/dev-thumb.gif", caption: "RetroAdventure."}) %>
</div>

<%- include('partials/post-image', {imgpath: "/image/posts/2019-06-26_adventure-js/adventure.jpg", caption: "Adventure.js."}) %>
