---
layout: post
title: EDH Banner Generator 
date: February 2019
---

<p><span class="dropcap">C</span>ustomization is a large part of the culture surrounding <a href="https://mtg.fandom.com/wiki/Commander_(format)">EDH </a>(aka Commander), a format of the trading card game Magic the Gathering. Players may spend years, and thousands of dollars, perfecting their deck; from buying special cases and dice, to getting their cards physically altered.</p>

<p>The EDH Banner Generator is my contribution to this spirit of personalization.</p>

<p>It's a node.js app that consumes a text list, provided by the user, and creates an image like the one below. The intent was to create a tool that players could use to make their own banner images for forums, deck list websites, and so on.</p>

<p>From a technical perspective the generator relies on two important pieces: <a href="https://www.npmjs.com/package/jimp" target="_blank">JIMP</a> (Javascript Image Manipulation Program) and <a href="https://scryfall.com/docs/api" target="_blank">Scryfall's REST api</a> . The app parses the list, retrieves data from the api, and composites the image by plotting the cards along coordinates. There are a small list of configurations available, too.</p>

<p>You can grab the app from my <a href="https://github.com/andymaul123/edh-banner-generator" target="_blank">Github</a> and give it a go yourself!</p>


<a href="/image/projects/banner-generator.png"><img src="/image/projects/banner-generator.png" class="outline shadows photo"></a>

