---
layout: post
title: Website Re-launch! 
date: August 2024
---

<p>
    <span class="dropcap">E</span>very few years, starting way back when I was in high school, I would overhaul my personal website. It was a ritual; a borderline obsession. In 2015 I spent a great deal of time making what I hoped was the 'final iteration'. It was built using <a href="https://jekyllrb.com/" target="_blank">Jekyll</a>, and for all intents and purposes it worked really well. I would occasionally update the blog with whatever hobby I'd been tinkering away at, all the way up until Spring 2020. What happened early 2020 that caused me to stop writing my blog?
</p>

<p><em>Oh.</em> That's right.</p>

<p>Anyway, I got a job at PlayStation in October 2021 and moved to California. That kept me busy for a while, too. Suddenly it had been five years since I pushed up anything. I actually used <a href="https://www.notion.so/" target="_blank">Notion</a> for a while so I didn't have to get back in an old repository and figure it all out again.</p>

<p>Well, you can only kick a can down the road until it becomes an avalanche of shame. Or something like that. I finally sat down and started figuring it all out.</p>

<p>The re-launch would keep the overall same appearance, but I wanted to update the tech stack:</p>
<ul>
    <li>I transferred the domain from an antiquated registrar to <a href="https://www.namecheap.com/" target="_blank">NameCheap</a></li>
    <li>Similarly, I moved away from <a href="https://www.netlify.com/" target="_blank">Netlify</a> to <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>. No real reason; I just wanted to try it out.</li>
    <li>I wanted a Node.js-based static site generator. Something dead simple. <a href="https://doug2k1.github.io/nanogen/" target="_blank">Nanogen</a> fit the bill.</li>
</ul>

<p>While I lost some fancy bells and whistles I had set up with the old site, this new platform is much easier to work with in general. I'll probably write custom scripts to handle a few of the manual things (generating thumbnails, generating the list of posts, etc). For now, though, it's pretty easy: make some changes, re-build the site, and commit to main.</p>

<p>Here's to the rest of '24 and a fresh coat of paint on the website. Cheers.</p>


