---
layout: post
title: Dunes & Dusk
date: August 2024
---

<p>
    <span class="dropcap">M</span>y recent project has been exploring the creation of games using web technology. I have
    a longstanding appreciation for old text adventures, so when I discovered
    <a href="https://htmx.org/" target="_blank">HTMX</a> a thought occurred to me.
</p>

<p>Point and Click adventures, the genre of games popularized in the late eighties and early nineties, could be an
    excellent foray into making games on the web. They share fundamental characteristics with websites: the user clicks
    something, the server responds, they click again, etc.</p>

<p>What started as research into HTMX has turned into a fully-fledged game. It's still very much a work-in-progress, but
    if you're interested, you can learn more on the project's
    <a href="https://github.com/andymaul123/pca-engine" target="_blank">Github</a> page and by watching the following
    demo video.
</p>
<div class="videowrapper">
    <iframe src="https://www.youtube.com/embed/VxwrcW4VVYs"></iframe>
</div>

<br />

<p>The demo shows the vertical slice approach I was aiming for with this project. Keep in mind the assets and content
    are all placeholders; some images are AI generated, and others stolen from the internet. In any case, everything
    here is just for demonstration purposes.</p>

<p>As of 2026 I've taken this HTMX version as far as I'd like to go with it. HTMX is not the correct tool for the job,
    but making this game demo was a great opporunity to learn the framework. I like the game concept enough that I've
    started re-architecting from the ground up using React as the client-side tool, and am tinkering with the idea of
    building it as a standalone electron app.</p>