---
layout: post
title: Dunes & Dusk 
date: August 2024
---

<p>
    <span class="dropcap">M</span>y recent project has been exploring the creation of games using web technology. I have a longstanding appreciation for old text adventures, so when I discovered <a href="https://htmx.org/" target="_blank">HTMX</a> a thought occurred to me.
</p>

<p>Point and Click adventures, the genre of games popularized in the late eighties and early nineties, could be an excellent foray into making games on the web. They share fundamental characteristics with websites: the user clicks something, the server responds, they click again, etc.</p>

<p>What started as research into HTMX has turned into a fully-fledged game. It's still very much a work-in-progress, but if you're interested, you can learn more on the project's <a href="https://github.com/andymaul123/pca-engine" target="_blank">Github</a> page. </p>

<%- include('partials/post-image', {imgpath: "/image/projects/dunes-and-dusk-intro.gif", caption: "Starting screen of the game."}) %>


