---
layout: post
title: Elemental Probability 
date: June 2025
---
<div class="post-content-two-items">
    <div>
        <p>
            <span class="dropcap">L</span>ate last year I began exploring a new collectible card game called <a href="https://sorcerytcg.com/" target="_blank">Sorcery:  Contested Realm</a>. There are two primary resources needed to play cards in the game: mana and threshold. Threshold is a mechanic which counts the number of elemental attributes of Site cards on your board. Spell cards may require a certain amount of threshold present to be played. Browse, for example, costs 1 mana but requires 3 Air threshold.
        </p>

        <p>In March of 2025 I wanted to modify the deck I'd been using at weekly Sorcery events by adding a third element. The more elements to balance in a deck, the less consistent it will perform. My deck wanted to have a particular threshold amount by turn four. I intuitively made changes to the Site deck, but a question lingered:</p>

        <p>What was the <em>actual</em> probability I would get Air, Earth, Earth, Water threshold on turn four?</p>
    </div>
    <div>
        <%- include('partials/post-image', {imgpath: "/image/posts/2025-06-28_elemental-probability/browse.png", caption: ""}) %>
    </div>
</div>

<h2>The App</h2>

<%- include('partials/post-image', {imgpath: "/image/posts/2025-06-28_elemental-probability/intro-animation.gif", caption: "The finished product"}) %>

<p>The culmination of work started by that question came to be a Node app. It prompts the user with the type of criteria needed, and parses a user-provided text list using a downloaded dump of Sorcery card data. There are flags for different options: calculation vs simulation, additional card draws, etc.</p>

<p>This project required that I learn about <a href="https://en.wikipedia.org/wiki/Hypergeometric_distribution#Multivariate_hypergeometric_distribution" target="_blank">multivariate hypergeometric distributions</a>, <a href="https://en.wikipedia.org/wiki/Monte_Carlo_method" target="_blank">Monte Carlo method simulations</a>, and more.</p>

<p>Oh and that original question? Turns out the probability of my deck getting the perfect threshold on turn four is ~33%. A single mulligan brings that to 62%, tossing two Sites increases it to 78%, and a full mulligan of the site hand is roughly 87%.</p>

<p>This project was a fun adventure, and my Sorcery decks have a stronger showing because of it. Feel free to check it out on <a href="https://github.com/andymaul123/sorcery-threshold" target="_blank">Github</a>.</p>


