---
layout: post
title: Learning Soft Pastels 
date: February 2026
---

<div class="post-content-two-items">
    <div>
        <p>
            <span class="dropcap">B</span>ack in 2017 I ran across an article from CreativeBloq titled <a href="https://www.creativebloq.com/how-to/add-drama-to-your-pastel-artworks" target="_blank">'How to add drama to your pastel artworks'</a> written by Rebecca de Mendonça. The article features a still life painting: ornate brass bottles on a bed of richly textured cloth. Rendered in soft pastels, the finished piece is dreamy and vibrant, an effect that lodged itself into some part of my brain where it resides to this day.
        </p>

        <p>Shortly after reading the article I ran out and bought some various student-quality pastel supplies. I hadn't done any research and was flying by the seat of my pants. I remember sitting down with a set of eight colors and laying them down on paper. At this point in my life I had learned the basics of several artistic mediums; how hard could it be to master these funny little sticks of chalk? I don't know if it was the pastel dust or my own hubris I choked on. It should come as no surprise that when I finished playing around I looked upon a muddy mess that would have given the local kindergarten students a run for their money. Annoyed at the medium, but mostly at myself, I shelved the pastels and tried to forget about them.</p>
    </div>
    <div>
        <%- include('partials/post-image', {imgpath: "/image/posts/2026-02-04_learning-soft-pastels/creativebloq.png", caption: "Rebecca's still life that captured my imagination."}) %>
    </div>
</div>

<div class="post-content-two-items">
    <div>
        <%- include('partials/post-image', {imgpath: "/image/posts/2026-02-04_learning-soft-pastels/soft-pastels_001_pareidolia.png", caption: "First painting, 'Pareidolia'."}) %>
    </div>
    <div>
        <p>
            Fast forward to the present. The artist behind <a href="https://nightjarillustration.bigcartel.com/" target="_blank">Nightjar Illustration, Adam Burke</a>, is one of my inspirations. I love Adam's work, and was overjoyed to discover he is contributing artwork to a card game I've been playing. Upon seeing his artwork for the promotional version of a card, <em>City of Glass</em>, I was captivated in the same way as I was by Rebecca's artwork almost a decade ago. Despite knowing Adam's <em>City of Glass</em> was done with acrylics, the two wires crossed. I wanted to make an homage to Adam's piece, and thought the dreamy aesthetics of soft pastels would make a great fit. I dredged up that box of eight sticks again. This time, with a clear goal in mind, I set out.
        </p>

        <p>
            After lots of YouTube videos and some aimless doodling I gave it a serious try. I knew I didn't want to attempt my own City of Glass right away, so I did something similar. I was happier with this than I expected, and decided to keep it and give it a name: Pareidolia.
        </p>

        <p></p>
    </div>
</div>

<div class="post-content-two-items">
    <div>
        <p>
           For my second project I purchased <a href="https://www.pastelmat.com/" target="_blank">PastelMat paper</a>, as the dry-media paper I used the first time around didn't allow for the kind of layering I'd read so much about. It also couldn't handle an alcohol wash underpainting, which I found to be quite fun and would like to continue doing. Using PastelMat was a completely different experience. Positive, but so different that I had to learn on the fly. While I am pleased with <em>City of Dreams</em>, I'd like to redo this one after a year or so of working with pastels.
        </p>

        <p>
            My third endeavor will be on PastelMat again, but with <a href="https://www.sennelier-colors.com/en/Etui-and-box-1-2-pastels_fiche_7547.html" target="_blank">Sennelier Extra Soft Pastels</a> and a different color palette. Probably yellows or greens.
        </p>

        <p></p>
    </div>
    <div>
        <%- include('partials/post-image', {imgpath: "/image/posts/2026-02-04_learning-soft-pastels/soft-pastels_002_city-of-dreams.png", caption: "Second painting, 'City of Dreams'."}) %>
    </div>
</div>