---
layout: default
title: oils
---

<div class="post-card-gallery">
    <h1 class="bottom-border">Oil Paintings</h1>
    <p></p>
    <div class="featured-posts-wrapper">
        <%- include('partials/featured-post-card', {title: "Galaxy, 2020 (Pastels)", url: "/image/art/oils/galaxy_pastels_2020.jpg", image: "/image/art/oils/galaxy_pastels_2020_thumb.jpg"}) %>
        <%- include('partials/featured-post-card', {title: "Winter Stream, 2021", url: "/image/art/oils/winter-trees_2021.jpg", image: "/image/art/oils/winter-trees_2021_thumb.jpg"}) %>
        <%- include('partials/featured-post-card', {title: "Untitled Abstract, 2021", url: "/image/art/oils/abstract_2021.jpg", image: "/image/art/oils/abstract_2021_thumb.jpg"}) %>
        <%- include('partials/featured-post-card', {title: "Bust, 2022", url: "/image/art/oils/bust_2022.jpg", image: "/image/art/oils/bust_2022_thumb.jpg"}) %>
    </div>
</div>