---
layout: default
title: pixel
---

<div class="post-card-gallery">
    <h1 class="bottom-border">Pixel Art</h1>
    <p></p>
    <div class="featured-posts-wrapper">
        <%- include('partials/featured-post-card', {title: "Dark Souls Rings, 2020", url: "/image/art/pixel/dark-souls-rings_2020.jpg", image: "/image/art/pixel/dark-souls-rings_2020.jpg"}) %>
        <%- include('partials/featured-post-card', {title: "Icon Commissions, 2022", url: "/image/art/pixel/commissions_2022.png", image: "/image/art/pixel/commissions_2022.png"}) %>
        <%- include('partials/featured-post-card', {title: "Fakemon, 2022", url: "/image/art/pixel/fakemon_2022.png", image: "/image/art/pixel/fakemon_2022.png"}) %>
        <%- include('partials/featured-post-card', {title: "Fakemon, 2023", url: "/image/art/pixel/fakemon_2023.png", image: "/image/art/pixel/fakemon_2023.png", coords: "0 0"}) %>
    </div>
</div>