---
layout: default
title: soft-pastel
---

<div class="post-card-gallery">
    <h1 class="bottom-border">Soft Pastels</h1>
    <p></p>
    <div class="featured-posts-wrapper">
        <%- include('partials/featured-post-card-image',
            {title: "Pareidolia, 2026" ,
            url: "/image/art/soft-pastel/soft-pastels_001_pareidolia.jpg" ,
            image: "/image/art/soft-pastel/soft-pastels_001_pareidolia_thumb.png" }) %>

            <%- include('partials/featured-post-card-image', 
            {title: "City of Dreams, 2026" ,
            url: "/image/art/soft-pastel/soft-pastels_002_city-of-dreams.jpg" ,
            image: "/image/art/soft-pastel/soft-pastels_002_city-of-dreams_thumb.png" }) %>
        
            <%- include('partials/featured-post-card-image', 
            {title: "Storm, 2026" ,
            url: "/image/art/soft-pastel/soft-pastels_003_storm.jpg" ,
            image: "/image/art/soft-pastel/soft-pastels_003_storm_thumb.png" }) %>
    </div>
</div>