---
layout: home
title: home
---


<h1>Hi, I'm Andy.</h1>
<div class="home-about">
    <div class="about-left">
        <p>Welcome to my little corner of the internet! I'm a senior software engineer at <a href="https://www.playstation.com/en-us/">PlayStation</a>, and I have been developing on the client-side, professionally, since 2014. Prior to that I worked in education and the games industry. <br /><br />While I'm not at work you'll find me engaged in one of my (too) many hobbies.</p>
    </div>
    <div class="about-right">
        <img class="portrait outline" src="/image/portrait.jpg"/>
    </div>
</div>


<div class="post-card-gallery">
    <h1 class="bottom-border">Featured Posts</h1>
    <div class="featured-posts-wrapper">
        <%- include('partials/featured-post-card', {title: "Dev Log: Retro Asset Pipeline", url: "/posts/2025-02-17_dev-log_retro-asset-pipeline", image: "/image/posts/2025-02-17_dev-log_retro-asset-pipeline/starting-with-the-end_scene.png"}) %>
        <%- include('partials/featured-post-card', {title: "Dunes & Dusk", url: "/posts/2024-08-07_dunes-and-dusk", image: "/image/projects/dunes-and-dusk-intro.gif"}) %>
        <%- include('partials/featured-post-card', {title: "Studying the Masters", url: "/posts/2022-06-19_studying-the-masters", image: "image/art/digital/study_alpine-lake_2019_thumb.jpg"}) %>
        <%- include('partials/featured-post-card', {title: "Pixel Art Fakemon", url: "/posts/2023-10-31_fakemon-inktober", image: "image/art/pixel/fakemon_2023.png"}) %>

    </div>
</div>





