---
layout: default
title: projects
---

<div class="home-featured-posts">
    <h1 class="bottom-border">Projects</h1>
    <p>A little collection of games, writing, and other randomness. Updated every now and then.</p>
    <div class="featured-posts-wrapper">
        <%- include('partials/post-preview-block', {title: "Test Title", url: "/posts/001", image: "image/screenshot-title-screen.png"}) %>
        <%- include('partials/post-preview-block', {title: "Test Title", url: "/posts/001", image: "image/screenshot-title-screen.png"}) %>
        <%- include('partials/post-preview-block', {title: "Test Title", url: "/posts/001", image: "image/screenshot-title-screen.png"}) %>
        <%- include('partials/post-preview-block', {title: "Test Title", url: "/posts/001", image: "image/screenshot-title-screen.png"}) %>
    </div>
</div>