<ul>
    <li>
        <a href="/posts/2024-08-11_website-relaunch">Website Re-launch!</a>
        <br />
        <em>Aug 2024</em>
    </li>
    <li>
        <a href="/posts/2024-08-07_dunes-and-dusk">Dunes & Dusk</a>
        <br />
        <em>Aug 2024</em>
    </li>
    <li>
        <a href="/posts/2022-06-19_studying-the-masters">Studying the Masters</a>
        <br />
        <em>Jun 2022</em>
    </li>
    <li>
        <a href="/posts/2019-06-26_adventure-js">Adventure.js</a>
        <br />
        <em>Jun 2019</em>
    </li>
    <li>
        <a href="/posts/2019-02-27_banner-generator">EDH Banner Generator</a>
        <br />
        <em>Feb 2019</em>
    </li>
    
</ul>