<ul>
    <li>
        <a href="/posts/2025-06-28_elemental-probability">Elemental Probability</a>
        <br />
        <em>Aug 2024</em>
    </li>
    <li>
        <a href="/posts/2025-02-17_dev-log_retro-asset-pipeline">Dev Log: Retro Asset Pipeline</a>
        <br />
        <em>Aug 2024</em>
    </li>
    <li>
        <a href="/posts/2024-08-11_website-relaunch">Website Re-launch!</a>
        <br />
        <em>Aug 2024</em>
    </li>
    <li>
        <a href="/posts/2024-08-07_dunes-and-dusk">Dunes & Dusk</a>
        <br />
        <em>Aug 2024</em>
    </li>
    <li>
        <a href="/posts/2023-10-31_fakemon-inktober">Pixel Art: Fakemon</a>
        <br />
        <em>Oct 2023</em>
    </li>
    <li>
        <a href="/posts/2023-07-01_art-jam-experiments-with-pixelization">Art Jam: Experiments with Pixelization</a>
        <br />
        <em>Jul 2023</em>
    </li>
    <li>
        <a href="/posts/2022-06-19_studying-the-masters">Studying the Masters</a>
        <br />
        <em>Jun 2022</em>
    </li>
    <li>
        <a href="/posts/2019-06-26_adventure-js">Adventure.js</a>
        <br />
        <em>Jun 2019</em>
    </li>
    <li>
        <a href="/posts/2019-02-27_banner-generator">EDH Banner Generator</a>
        <br />
        <em>Feb 2019</em>
    </li>
    
</ul>