<div class="featured-post-card outline">
    <a href="<%= url %>">
        <video loop autoplay class="featured-post-card-image">
            <source src="<%= image %>" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="featured-post-card-title">
            <%= title %>
        </div>
    </a>
</div>