<div class="post-preview-block outline">
    <a href="<%= url %>">
        <img class="post-preview-block-image" src="<%= image %>"/>
        <div class="post-preview-block-title">
            <%= title %>
        </div>
    </a>
</div>