---
layout: default
title: writing
---

<h1 class="bottom-border">Short Fiction</h1>
<div class="writing-entries-wrapper">
    <%- include('partials/writing-entry', {title: "A Taste of Adventure", url: "https://docs.google.com/document/d/1OMpPA03fMp-yq8eZ1GKfg-2m2WgsX4AR11tEjertgx0/edit?usp=sharing", genre: "Sword & Sorcery", readtime: "15", blurb: "A man meets an unlikely savior in the form of the 'greatest chef in the land'. August 2020."}) %>
    <%- include('partials/writing-entry', {title: "Dark Heart of the Woods", url: "https://docs.google.com/document/d/1uBgWfIvFRBHvQqTRF_tRf_hJeHnmWQoQA9BYQ90Se4Y/edit?usp=sharing", genre: "Fantasy Horror", readtime: "25", blurb: "A con goes wrong when Janos, posing as a wine merchant, discovers something dark within the abbey. February 2024."}) %>
</div>